{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Exercício - KÖYÜ</title>    
    <link href="{% static 'css/style-addExercicio.css' %}" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="Top">
            <div>
                <!-- Substituir pela logo -->
                <h1 class="logo">KÖYÜ</h1>
                <span class="Separador"></span>
                <span class="tituloLogo">Adicionar Exercício</span>
            </div>
            <button class="buttonCancelar" id="buttonCancelar">Cancelar</button>
        </div>
        <div class="MiddleContainer">
            <div class="Middle">
                <div class="middleLeft">
                    <div class="inputNome">
                        <span>Nome</span>
                        <input type="text" placeholder="Nome do Treino" name="NomeTreino">
                    </div>
                    <div class="opVideo">
                        <span>Vídeo</span>
                        <div class="inputVideo">
                            <div class="caminhoFicheiro">Caminho do ficheiro</div>
                            <label for="videoFile" class="botaoVideo">Ficheiro</label>
                            <input type="file" id="videoFile" hidden> 
                        </div>
                    </div>                                   
                    <div class="inputEquipamentos">
                        <span>Equipamentos</span>
                        <div class="equipamentosContainer">
                            <div class="pesquisaEquipamentos">
                                <img src="{% static 'images/search2.png' %}" alt="Ícone de Pesquisa" class="iconePesquisa">
                                <input type="text" placeholder="Pesquisar..." class="inputPesquisar">
                            </div>
                            <div class="listaEquipamentos">
                                <div class="itemSelfselect">
                                    <div class="buttonItem">
                                        <img src="{% static 'images/setting.png' %}"></img>
                                    </div>
                                    <div class="fotoItemselect"></div>
                                    <span>Nome</span>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="middleRight">
                    <div class="inputsTop">
                        <div class="inputFotoCapa">
                            <span>Foto de Capa</span>
                            <div class="divEscolherFoto">
                            <img src="{% static 'images/camera-botao.png' %}" alt="">
                            </div>
                        </div>
                        <div class="inputDescricao">
                            <span>Descrição</span>
                            <textarea name="descricao" placeholder="Uma breve descrição do treino em si!"></textarea>
                        </div>
                    </div>
                    <div class="opIntensidade">
                        <span>Intensidade</span>
                        <div class="intensidadeInside">
                            <div class="opItemIntensidade">Baixa</div>
                            <div class="opItemIntensidade Selected">Média</div>
                            <div class="opItemIntensidade">Alta</div>
                        </div>
                    </div>
                    <div class="opCategoria">
                        <span>Categoria</span>
                        <div class="categoriaInside">
                            <img src="{% static 'images/left-arrow.png' %}" alt="">
                            <div class="cardCategoria"></div>
                            <div class="cardCategoria"></div>
                            <div class="cardCategoria"></div>
                            <div class="cardCategoria" id="addCategoria">
                                <img src="{% static 'images/add-Categoria.png' %}">
                            </div>
                            <img src="{% static 'images/right-arrow.png' %}" alt="">    
                        </div>                    
                    </div>                
                </div>      
            </div>
        </div> 
        <div class="Bottom">
            <button class="buttonFinal" id="buttonFinal">Guardar</button>            
        </div>
    </div>
    <div class="shadowBox" style="display: none;">
        <div class="addEquipamentoPop" style="display: none;"> 
            <div class="popUpFoto">
                <div class="selectFotoPop">
                    <img src="{% static 'images/camera-botao.png' %}">
                </div>
            </div>         
            <div style="height: 100%; justify-content: space-evenly; display: flex; flex-direction: column;"> 
                <div class="inputNome">
                    <span>Nome</span>
                    <input type="text" placeholder="Nome do equipamento" name="NomeEquipamento">
                </div>
                <div class="divButtonPop">
                    <button class="buttonCancelar popUpButton" id="buttonRemoverPop" style="font-size: 12px;">Remover</button>  
                    <button class="buttonFinal popUpButton" style="margin-right: 0px; font-size: 12px;" id="buttonConfirmarPop">Confirmar</button>   
                </div>
            </div> 
        </div>
    </div>
<script src="{% static 'js/functions.js' %}"></script>  
</body>
</html>
