{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Administrador</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>KÖYÜ</h2>
        <img src="{% static 'image/Retngulo_151.png' %}" alt="User Avatar">
        <p>Bem-vindo, <strong>USER_NAME</strong></p>

        <div class="menu-item">Dashboard</div>
        <div class="menu-item">Exercícios</div>
        <div class="menu-item">Treino</div>
        <div class="menu-item">Utilizadores</div>
        <div class="menu-item">Perfil</div>

        <div class="logout">Logout</div>
    </div>

    <div class="content">
        <div class="dashboard-header">
            <h1>Dashboard Administrador</h1>
        </div>

        <div class="cards">
            <div class="card">
                <h2>23</h2>
                <p>Utilizadores Registados</p>
            </div>
            <div class="card">
                <h2>70</h2>
                <p>Exercícios Registados</p>
            </div>
            <div class="card">
                <h2>100</h2>
                <p>Treinos Realizados</p>
            </div>
        </div>

        <div class="history">
            <div class="history-card">
                <h3>Treinos adicionados</h3>
                <ul>
                    <li>Treino [Nome] ... 14:58h</li>
                    <li>Treino [Nome] ... 16:78h</li>
                    <li>Treino [Nome] ... 20:50h</li>
                </ul>
            </div>
            <div class="history-card">
                <h3>Exercícios adicionados</h3>
                <ul>
                    <li>Exercício [Nome] ... 14:58h</li>
                    <li>Exercício [Nome] ... 16:78h</li>
                    <li>Exercício [Nome] ... 20:50h</li>
                </ul>
            </div>
            <div class="history-card">
                <h3>Registo de Utilizadores</h3>
                <ul>
                    <li>Utilizador [Nome] ... 14:58h</li>
                    <li>Utilizador [Nome] ... 16:78h</li>
                    <li>Utilizador [Nome] ... 20:50h</li>
                </ul>
            </div>
            <div class="history-card">
                <h3>Remoções de Conta</h3>
                <ul>
                    <li>Utilizador [Nome] ... 14:58h</li>
                    <li>Utilizador [Nome] ... 16:78h</li>
                    <li>Utilizador [Nome] ... 20:50h</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>