{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Exercício - KÖYÜ</title>    
    <link href="{% static 'css/style-addExercicio.css' %}" rel="stylesheet">
    <link href="{% static 'css/detalhesExercicio.css' %}" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="Top">
            <div>
                <img src="{% static 'images/koyu.png' %}" id="logo" alt="">
                <span class="Separador"></span>
                <span class="tituloLogo">Detalhes Exercício</span>
            </div>
            <button class="buttonCancelar" id="buttonCancelar">Voltar</button>
        </div>
        <div class="MiddleContainer">
            <div class="Middle">
                <div class="middleLeft">
                    <div class="inputNome">
                        <span>Nome</span>
                        <input type="text" value="{{ exercicio.ex_nome }}" readonly style="cursor: auto;">
                    </div>
                    <div class="opVideo">
                        <span>Vídeo</span>
                        <div class="inputVideo">
                            <div class="caminhoFicheiro">{{ exercicio.ex_video }}</div>
                        </div>
                    </div>                                   
                    <div class="inputEquipamentos">
                        <span>Equipamento</span>
                        <div class="equipamentosContainer">
                            <div class="listaEquipamentos">
                                <div class="itemSelfselect">
                                    <div class="fotoItemselect">
                                        <img src="{{ exercicio.equipamento.eq_foto }}" alt="{{ exercicio.equipamento.eq_nome }}">
                                    </div>
                                    <span>{{ exercicio.equipamento.eq_nome }}</span>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="middleRight">
                    <div class="inputsTop">
                        <div class="inputFotoCapa">
                            <span>Foto de Capa</span>
                            <div class="divEscolherFoto">
                                <img src="{{ exercicio.ex_foto }}" alt="{{ exercicio.ex_nome }}">
                            </div>
                        </div>
                        <div class="inputDescricao">
                            <span>Descrição</span>
                            <textarea readonly style="cursor: auto;">{{ exercicio.ex_descricao }}</textarea>
                        </div>
                    </div>
                    <div class="opIntensidade">
                        <span>Intensidade</span>
                        <div class="intensidadeInside">
                            <div class="opItemIntensidade Det {% if exercicio.ex_intensidade == 'Baixa' %}Selected{% endif %}" style="cursor: auto;">Baixa</div>
                            <div class="opItemIntensidade Det {% if exercicio.ex_intensidade == 'Média' %}Selected{% endif %}" style="cursor: auto;">Média</div>
                            <div class="opItemIntensidade Det {% if exercicio.ex_intensidade == 'Alta' %}Selected{% endif %}" style="cursor: auto;">Alta</div>
                        </div>
                    </div>
                    <div class="opCategoria" >
                        <span>Categorias</span>
                        <div class="categoriaInside" >
                            {% for categoria in exercicio.excercicios_categoria.all %}
                            <div class="cardCategoria">
                                <img src="{{ categoria.ca_foto }}" alt="{{ categoria.ca_nome }}">
                                <span style="cursor: auto;">{{ categoria.ca_nome }}</span>
                            </div>
                            {% endfor %}
                        </div>                    
                    </div>                
                </div>      
            </div>
        </div> 
        <div class="Bottom">
            <button class="buttonFinal" id="buttonFinal" onclick="location.href='/editarExercicio/'">Editar</button>            
        </div>
    </div>
<script src="{% static 'js/functions.js' %}"></script>  
</body>
</html>