{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Treino - KÖYÜ</title>   
    <link href="{% static 'css/style-addTreino.css' %}" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="Top">
            <div>
                <!-- Substituir pela logo -->
                <h1 class="logo">KÖYÜ</h1>
                <span class="Separador"></span>
                <span class="tituloLogo">Detalhes do Treino</span>
            </div>
            <button class="buttonCancelar" id="buttonCancelar">Voltar</button>
        </div>
        <div class="pageSelector">
            <div class="separadorSelector Det Selected" id="separadorSelector1"></div>
            <div class="separadorSelector Det" id="separadorSelector2"></div>
        </div>
        <div class="MiddleContainer">
            <div class="Middle1" id="Middle1">
                <div class="middleLeft1">
                    <div class="inputNome">
                        <span>Nome</span>
                        <input type="text" placeholder="Nome do Treino" name="NomeTreino" readonly style="cursor: auto;">
                    </div>
                    <div class="opModalidade">
                        <span>Modalidade</span>
                        <div class="modalidadeInside">
                            <img src="{% static 'images/left-arrow.png' %}" alt="">
                            <div class="optionsCardsModalidade">
                                <div class="cardModalidade" style="cursor: auto;">
                                    <span>MÖVE</span>
                                </div>
                                <div class="cardModalidade" style="cursor: auto;">
                                    <span>PÜMP</span>
                                </div>
                                <div class="cardModalidade" style="cursor: auto;">
                                    <span>JÜMP</span>
                                </div>
                            </div>
                            <img src="{% static 'images/right-arrow.png' %}" alt="">
                        </div>
                    </div>
                    <div class="inputDuracao">
                        <span>Duração</span>
                        <div class="duracaoInside">
                            <input type="text" placeholder="000" maxlength="3" name="NomeTreino" readonly style="cursor: auto;">
                            <div class="divDuracaoText">Minutos</div>
                        </div>
                    </div>
                </div>
                <div class="middleRight1">
                    <div class="inputsTop">
                        <div class="inputFotoCapa">
                            <span>Foto de Capa</span>
                            <div class="divEscolherFoto" style="cursor: auto;">

                            </div>  
                        </div>
                        <div class="inputDescricao">
                            <span>Descrição</span>
                            <textarea name="descricao" placeholder="Uma breve descrição do treino em si!" readonly style="cursor: auto;"></textarea>
                        </div>
                    </div>
                    <div class="opIntensidade">
                        <span>Intensidade</span>
                        <div class="intensidadeInside" >
                            <div class="opItemIntensidade Det" style="cursor: auto;">Baixa</div>
                            <div class="opItemIntensidade Det Selected" style="cursor: auto;">Média</div>
                            <div class="opItemIntensidade Det" style="cursor: auto;">Alta</div>
                        </div>
                    </div>
                    <div class="opCategoria">
                        <span>Categoria</span>
                        <div class="categoriaInside">
                            <img src="{% static 'images/left-arrow.png' %}" alt="">
                            <div class="cardCategoria" style="cursor: auto;"></div>
                            <div class="cardCategoria" style="cursor: auto;"></div>
                            <div class="cardCategoria" style="cursor: auto;"></div>
                            <div class="cardCategoria" style="cursor: auto;"></div>
                            <img src="{% static 'images/right-arrow.png' %}" alt="">    
                        </div>                    
                    </div>                
                </div>                
            </div>
            <div class="Middle2" id="Middle2" style="display: none;">
                <div class="middleRight2">
                    <span>Exercícios Selecionados</span>
                    <div class="selectedExercicio">
                        <div class="containerItems">
                            <div class="itemSelfselected">
                                <div class="fotoItemselected"></div>
                                <span>Nome</span>
                            </div>
                        </div>
                    </div>                                  
                </div>                
            </div>
        </div>    
        <div class="Bottom">       
            <button class="buttonEditar" id="buttonEditar" onclick="location.href='/editarTreino/'">
                <img src="{% static 'images/edit.png' %}" alt="">
            </button>
        </div>
    </div>
    <div class="shadowBox" style="display: none;">
        <div class="addExercicioPop" style="display: none;">            
            <div class="popUpDiv">
                <span>Séries</span>
                <div class="popUpInput">
                    <input type="text" placeholder="00" maxlength="2" name="numSerie">
                    <div class="popUpInputText">X</div>
                </div>
            </div>            
            <div class="popUpDiv">
                <span>Repetições</span>
                <div class="popUpInput">
                    <input type="text" placeholder="00" maxlength="2" name="numReps">
                    <div class="popUpInputText">X</div>
                </div>
            </div>
            <div class="divButtonPop">
                <button class="buttonCancelar popUpButton" id="closePopUp" >Cancelar</button>  
                <button class="buttonFinal popUpButton" style="margin-right: 0px;" id="buttonFinal">Seguinte</button>   
            </div>
        </div>
    </div>
<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>