{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Utilizadores</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/listar_utilizadores.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">Köyü</div>
        <div class="user">
            <img src="" alt="User Avatar">
            <p>Bem-vindo, USER_NAME</p>
        </div>
        <div class="menu">
            <a href="#">Exercícios</a>
            <a href="#">Treino</a>
            <a href="#">Utilizadores</a>
            <a href="#">Perfil</a>
        </div>
        <div class="logout">
            <a href="#">Logout</a>
        </div>
    </div>
    <div class="main">
        <div class="main-header">
            <div class="title" style="display: flex; align-items: center; "> <h2>KÖYÜ</h2> <p style="font-size:larger; color: #6b8e23;">| Listar Utilizadores</p></div>
            <div class="search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="#ffffff" id="svg-lupa">
                    <circle cx="10" cy="10" r="6" stroke="#ffffff" stroke-width="2" fill="none"/>
                    <line x1="14" y1="14" x2="20" y2="20" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
                </svg>                  
                <input id="search-bar" type="text" placeholder="Pesquisar...">
            </div>
        </div>
        <div class="user-card">
            <img src="" alt="User Avatar">
            <div class="details">
                <p>Nome utilizador</p>
            </div>
            <div class="button-div">
                <button>Ver detalhes</button>
                <a href="http://127.0.0.1:8000/listar_utilizadores">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="#6b8e23" id="svg-lixo">
                        <path d="M9 3h6a1 1 0 011 1v1h4a1 1 0 010 2h-1v13a2 2 0 01-2 2H7a2 2 0 01-2-2V7H4a1 1 0 010-2h4V4a1 1 0 011-1zm2 4v11a1 1 0 102 0V7a1 1 0 10-2 0zm-4 0v11a1 1 0 102 0V7a1 1 0 10-2 0zm8 0v11a1 1 0 102 0V7a1 1 0 10-2 0z"/>
                    </svg>
                </a>
            </div>
        </div>
        <button id="add-button">+</button>
    </div>
</body>
</html>