<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KÖYÜ Login</title>
    <link rel="stylesheet" href="login_user.css">
</head>
<body>
    <div class="logo">
        <img src="GP_LogótipoBranco.png" id="logo_id">
    </div>
    <div class="container">
        <br class="login-form">
            <div class="register-link">
                <a href="register_user.html">REGISTAR →</a>
            </div>
            <label for="email" id="email-text">Email</label>
            <input type="text" id="email" name="email" placeholder="Email"></br>

            <label for="password" id="password-text">Password</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Password">
                <button type="button" class="toggle-password">
                </button>
            </div>

            <div class="forgot-password">
                <a href="#">Esqueceu-se da palavra passe?</a>
            </div>

            <button type="submit" class="login-button">Entrar</button>
        </form>
    </div>
</body>
</html>
