	.mediaViewInfo {
	    --web-view-name: Adicionar Utilizador - Gestor;
	    --web-view-id: Adicionar_Utilizador_-_Gestor;
	    --web-scale-on-resize: true;
	    --web-enable-deep-linking: true;
	}

	:root {
	    --web-view-ids: Adicionar_Utilizador_-_Gestor;
	}

	* {
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	    border: none;
	}

	#Adicionar_Utilizador_-_Gestor {
	    position: absolute;
	    width: 1920px;
	    height: 1080px;
	    background-color: rgba(255, 255, 255, 1);
	    overflow: hidden;
	    --web-view-name: Adicionar Utilizador - Gestor;
	    --web-view-id: Adicionar_Utilizador_-_Gestor;
	    --web-scale-on-resize: true;
	    --web-enable-deep-linking: true;
	}

	#Grupo_47 {
	    position: absolute;
	    width: 379px;
	    height: 1080px;
	    left: 0px;
	    top: 0px;
	    overflow: visible;
	}

	#Retngulo_1 {
	    fill: rgba(55, 154, 60, 1);
	}

	.Retngulo_1 {
	    filter: drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.161));
	    position: absolute;
	    overflow: visible;
	    width: 454px;
	    height: 1155px;
	    left: 0px;
	    top: 0px;
	}

	#Grupo_45 {
	    position: absolute;
	    width: 379px;
	    height: 114px;
	    left: 0px;
	    top: 966px;
	    overflow: visible;
	}

	#Retngulo_2 {
	    fill: rgba(46, 104, 49, 1);
	}

	.Retngulo_2 {
	    position: absolute;
	    overflow: visible;
	    width: 379px;
	    height: 114px;
	    left: 0px;
	    top: 0px;
	}

	#Grupo_1 {
	    position: absolute;
	    width: 221px;
	    height: 60px;
	    left: 79px;
	    top: 27px;
	    overflow: visible;
	}

	#Logout {
	    left: 70px;
	    top: 0px;
	    position: absolute;
	    overflow: visible;
	    width: 152px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 45px;
	    color: rgba(255, 255, 255, 1);
	}

	#Icon_open-account-logout {
	    fill: rgba(255, 255, 255, 1);
	}

	.Icon_open-account-logout {
	    overflow: visible;
	    position: absolute;
	    width: 44.89px;
	    height: 39.279px;
	    left: 0px;
	    top: 10.361px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_6 {
	    position: absolute;
	    width: 379px;
	    height: 478px;
	    left: 0px;
	    top: 361px;
	    overflow: visible;
	}

	#Grupo_5 {
	    position: absolute;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 0px;
	    overflow: visible;
	}

	#Retngulo_6 {
	    fill: rgba(255, 255, 255, 0.102);
	}

	.Retngulo_6 {
	    position: absolute;
	    overflow: visible;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 0px;
	}

	#Exerccios {
	    left: 138px;
	    top: 29px;
	    position: absolute;
	    overflow: visible;
	    width: 133px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 30px;
	    color: rgba(255, 255, 255, 1);
	}

	#Icon_awesome-dumbbell {
	    fill: rgba(255, 255, 255, 1);
	}

	.Icon_awesome-dumbbell {
	    overflow: visible;
	    position: absolute;
	    width: 63px;
	    height: 44px;
	    left: 45px;
	    top: 27px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_4 {
	    position: absolute;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 127px;
	    overflow: visible;
	}

	#Retngulo_5 {
	    fill: rgba(255, 255, 255, 0.102);
	}

	.Retngulo_5 {
	    position: absolute;
	    overflow: visible;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 0px;
	}

	#Treino {
	    left: 138px;
	    top: 29px;
	    position: absolute;
	    overflow: visible;
	    width: 85px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 30px;
	    color: rgba(255, 255, 255, 0.502);
	}

	#Icon_awesome-clipboard-list {
	    fill: rgba(255, 255, 255, 0.502);
	}

	.Icon_awesome-clipboard-list {
	    overflow: visible;
	    position: absolute;
	    width: 38px;
	    height: 50px;
	    left: 50px;
	    top: 24px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_3 {
	    position: absolute;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 381px;
	    overflow: visible;
	}

	#Retngulo_3 {
	    fill: rgba(255, 255, 255, 0.102);
	}

	.Retngulo_3 {
	    position: absolute;
	    overflow: visible;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 0px;
	}

	#Perfil {
	    left: 138px;
	    top: 29px;
	    position: absolute;
	    overflow: visible;
	    width: 71px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 30px;
	    color: rgba(255, 255, 255, 0.502);
	}

	#Icon_awesome-user-alt {
	    fill: rgba(255, 255, 255, 0.502);
	}

	.Icon_awesome-user-alt {
	    overflow: visible;
	    position: absolute;
	    width: 50px;
	    height: 50px;
	    left: 50px;
	    top: 24px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_2 {
	    position: absolute;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 254px;
	    overflow: visible;
	}

	#Retngulo_4 {
	    fill: rgba(255, 255, 255, 0.102);
	}

	.Retngulo_4 {
	    position: absolute;
	    overflow: visible;
	    width: 379px;
	    height: 97px;
	    left: 0px;
	    top: 0px;
	}

	#Utilizadores {
	    left: 138px;
	    top: 29px;
	    position: absolute;
	    overflow: visible;
	    width: 162px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 30px;
	    color: rgba(255, 255, 255, 0.502);
	}

	#Icon_awesome-user-friends {
	    fill: rgba(255, 255, 255, 0.502);
	}

	.Icon_awesome-user-friends {
	    overflow: visible;
	    position: absolute;
	    width: 63px;
	    height: 44px;
	    left: 45px;
	    top: 27px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_44 {
	    position: absolute;
	    width: 191px;
	    height: 261px;
	    left: 94px;
	    top: 50px;
	    overflow: visible;
	}

	#Elipse_1 {
	    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.161));
	    position: absolute;
	    width: 191px;
	    height: 191px;
	    left: 0px;
	    top: 0px;
	    overflow: visible;
	}

	#Bem-vindo__USER_NAME {
	    left: 33px;
	    top: 201px;
	    position: absolute;
	    overflow: visible;
	    width: 127px;
	    height: 60px;
	    text-align: center;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 22px;
	    color: rgba(255, 255, 255, 1);
	}

	#Grupo_77 {
	    position: absolute;
	    width: 234px;
	    height: 69px;
	    left: 1656px;
	    top: 42.5px;
	    overflow: visible;
	}

	#Caminho_13 {
	    fill: rgba(255, 255, 255, 1);
	}

	.Caminho_13 {
	    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.161));
	    overflow: visible;
	    position: absolute;
	    width: 279px;
	    height: 114px;
	    left: 0px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_14 {
	    fill: rgba(55, 154, 60, 1);
	}

	.Caminho_14 {
	    overflow: visible;
	    position: absolute;
	    width: 118.99px;
	    height: 22.573px;
	    left: 1713.96px;
	    top: 69.293px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_86 {
	    position: absolute;
	    width: 650.05px;
	    height: 98.463px;
	    left: 445.807px;
	    top: 43px;
	    overflow: visible;
	}

	#Grupo_78 {
	    position: absolute;
	    width: 191.167px;
	    height: 80.559px;
	    left: 0px;
	    top: 17.904px;
	    overflow: visible;
	}

	#Caminho_15 {
	    fill: rgba(55, 154, 60, 1);
	}

	.Caminho_15 {
	    overflow: visible;
	    position: absolute;
	    width: 191.167px;
	    height: 80.559px;
	    left: 0px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_16 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_16 {
	    overflow: visible;
	    position: absolute;
	    width: 405.483px;
	    height: 33.838px;
	    left: 244.567px;
	    top: 26.189px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_17 {
	    fill: transparent;
	    stroke: rgba(120, 153, 122, 1);
	    stroke-width: 4px;
	    stroke-linejoin: miter;
	    stroke-linecap: round;
	    stroke-miterlimit: 4;
	    shape-rendering: auto;
	}

	.Caminho_17 {
	    overflow: visible;
	    position: absolute;
	    width: 4px;
	    height: 77px;
	    left: 216.693px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_85 {
	    position: absolute;
	    width: 550px;
	    height: 90.002px;
	    left: 875px;
	    top: 947.498px;
	    overflow: visible;
	}

	#Grupo_79 {
	    position: absolute;
	    width: 550px;
	    height: 90.002px;
	    left: 0px;
	    top: 0px;
	    overflow: visible;
	}

	#Caminho_18 {
	    fill: rgba(55, 154, 60, 1);
	}

	.Caminho_18 {
	    overflow: visible;
	    position: absolute;
	    width: 550px;
	    height: 90.002px;
	    left: 0px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_19 {
	    fill: rgba(255, 255, 255, 1);
	}

	.Caminho_19 {
	    overflow: visible;
	    position: absolute;
	    width: 259.204px;
	    height: 29.257px;
	    left: 146.402px;
	    top: 34.795px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Elipse_1_cd {
	    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.161));
	    position: absolute;
	    width: 259px;
	    height: 259px;
	    left: 1021px;
	    top: 175px;
	    overflow: visible;
	}

	#Grupo_87 {
	    position: absolute;
	    width: 1136px;
	    height: 432px;
	    left: 582px;
	    top: 474px;
	    overflow: visible;
	}

	#Grupo_83 {
	    position: absolute;
	    width: 518.001px;
	    height: 118.207px;
	    left: 617.999px;
	    top: 0px;
	    overflow: visible;
	}

	#Caminho_39 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_39 {
	    overflow: visible;
	    position: absolute;
	    width: 122.856px;
	    height: 22.559px;
	    left: 1.874px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_40 {
	    fill: rgba(55, 154, 60, 0.2);
	}

	.Caminho_40 {
	    overflow: visible;
	    position: absolute;
	    width: 518.001px;
	    height: 70px;
	    left: 0px;
	    top: 48.207px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_41 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_41 {
	    overflow: visible;
	    position: absolute;
	    width: 299.765px;
	    height: 22.559px;
	    left: 42.754px;
	    top: 75px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_84 {
	    position: absolute;
	    width: 518.001px;
	    height: 118.544px;
	    left: 617.999px;
	    top: 156px;
	    overflow: visible;
	}

	#Caminho_42 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_42 {
	    overflow: visible;
	    position: absolute;
	    width: 269.179px;
	    height: 22.896px;
	    left: 0.541px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_43 {
	    fill: rgba(55, 154, 60, 0.2);
	}

	.Caminho_43 {
	    overflow: visible;
	    position: absolute;
	    width: 518.001px;
	    height: 70px;
	    left: 0px;
	    top: 48.544px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_44 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_44 {
	    overflow: visible;
	    position: absolute;
	    width: 444.524px;
	    height: 22.881px;
	    left: 41.377px;
	    top: 75.015px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_81 {
	    position: absolute;
	    width: 518px;
	    height: 117.006px;
	    left: 0px;
	    top: 0px;
	    overflow: visible;
	}

	#Caminho_20 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_20 {
	    overflow: visible;
	    position: absolute;
	    width: 79.848px;
	    height: 21.358px;
	    left: 1.874px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_21 {
	    fill: rgba(55, 154, 60, 0.2);
	}

	.Caminho_21 {
	    overflow: visible;
	    position: absolute;
	    width: 518px;
	    height: 70px;
	    left: 0px;
	    top: 47.006px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_22 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_22 {
	    overflow: visible;
	    position: absolute;
	    width: 255.556px;
	    height: 22.559px;
	    left: 42.754px;
	    top: 73.799px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_82 {
	    position: absolute;
	    width: 518px;
	    height: 118.207px;
	    left: 0px;
	    top: 155px;
	    overflow: visible;
	}

	#Caminho_11 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_11 {
	    overflow: visible;
	    position: absolute;
	    width: 68.657px;
	    height: 22.559px;
	    left: 1.874px;
	    top: 0px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_12 {
	    fill: rgba(55, 154, 60, 0.2);
	}

	.Caminho_12 {
	    overflow: visible;
	    position: absolute;
	    width: 518px;
	    height: 70px;
	    left: 0px;
	    top: 48.207px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Caminho_38 {
	    fill: rgba(120, 153, 122, 1);
	}

	.Caminho_38 {
	    overflow: visible;
	    position: absolute;
	    width: 246.679px;
	    height: 22.559px;
	    left: 42.754px;
	    top: 75px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_39 {
	    position: absolute;
	    width: 518px;
	    height: 130px;
	    left: 309px;
	    top: 302px;
	    overflow: visible;
	}

	#Contacto {
	    left: 0px;
	    top: 0px;
	    position: absolute;
	    overflow: visible;
	    width: 124px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 30px;
	    color: rgba(120, 153, 122, 1);
	}

	#Grupo_31 {
	    position: absolute;
	    width: 517px;
	    height: 70px;
	    left: 1px;
	    top: 60px;
	    overflow: visible;
	}

	#Retngulo_24 {
	    fill: rgba(55, 154, 60, 0.2);
	}

	.Retngulo_24 {
	    position: absolute;
	    overflow: visible;
	    width: 517px;
	    height: 70px;
	    left: 0px;
	    top: 0px;
	}

	#Contacto_do_Utilizador {
	    left: 40px;
	    top: 15px;
	    position: absolute;
	    overflow: visible;
	    width: 300px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 30px;
	    color: rgba(120, 153, 122, 1);
	}

	#Elipse_1_c {
	    fill: rgba(0, 0, 0, 0.361);
	    stroke: rgba(57, 108, 59, 1);
	    stroke-width: 3px;
	    stroke-linejoin: round;
	    stroke-linecap: round;
	    stroke-miterlimit: 4;
	    shape-rendering: auto;
	}

	.Elipse_1_c {
	    position: absolute;
	    overflow: visible;
	    width: 259px;
	    height: 259px;
	    left: 1021px;
	    top: 175px;
	}

	#Icon_awesome-camera {
	    fill: rgba(255, 255, 255, 0.702);
	}

	.Icon_awesome-camera {
	    overflow: visible;
	    position: absolute;
	    width: 68.198px;
	    height: 59.673px;
	    left: 1116px;
	    top: 275px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Grupo_227 {
	    position: absolute;
	    width: 153px;
	    height: 144px;
	    left: 818px;
	    top: 233px;
	    overflow: visible;
	}

	#Retngulo_152 {
	    fill: rgba(55, 154, 60, 1);
	}

	.Retngulo_152 {
	    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.161));
	    position: absolute;
	    overflow: visible;
	    width: 198px;
	    height: 115px;
	    left: 0px;
	    top: 37px;
	}

	#Grupo_226 {
	    position: absolute;
	    width: 70px;
	    height: 70px;
	    left: 83px;
	    top: 37px;
	    overflow: visible;
	}

	#Elipse_138 {
	    fill: rgba(255, 255, 255, 1);
	}

	.Elipse_138 {
	    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
	    position: absolute;
	    overflow: visible;
	    width: 100px;
	    height: 100px;
	    left: 0px;
	    top: 0px;
	}

	#Icon_awesome-user-tie {
	    fill: rgba(57, 108, 59, 1);
	}

	.Icon_awesome-user-tie {
	    overflow: visible;
	    position: absolute;
	    width: 31.5px;
	    height: 36px;
	    left: 19.25px;
	    top: 17px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Icon_awesome-user {
	    fill: rgba(255, 255, 255, 1);
	}

	.Icon_awesome-user {
	    overflow: visible;
	    position: absolute;
	    width: 31.5px;
	    height: 36px;
	    left: 19.25px;
	    top: 54px;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Administrador {
	    left: 10px;
	    top: 117px;
	    position: absolute;
	    overflow: visible;
	    width: 131px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 20px;
	    color: rgba(120, 153, 122, 1);
	}

	#Utilizador {
	    left: 34px;
	    top: 0px;
	    position: absolute;
	    overflow: visible;
	    width: 89px;
	    white-space: nowrap;
	    text-align: left;
	    font-family: Segoe UI;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 20px;
	    color: rgba(215, 235, 216, 1);
	}