body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.logo-titulo {
    display: flex;
    align-items: center;
    font-family: "Segoe UI", Arial, sans-serif;
}

.content {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.logo{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 75px;
    color: rgba(55, 154, 60, 1);
    margin-right: 10px;
    letter-spacing: 2px
}
.title{
    font-family: Segoe UI;
    font-size: 40px;
    color: rgba(120, 153, 122, 1);
    font-weight: bold;
}

.dashboard-header h1 {
    color: #006f3c;
}

.cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e0f7ec;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;   
    align-self: end;
    gap: 10px;
}

.card p {
    font-size: 30px;
    color: rgba(57, 108, 59, 1);
    font-family: Segoe UI;
    align-self: center;
    font-weight: bold;
}

.dados {
    font-size: 40px;
    color: white;
    font-family: Segoe UI;
    -webkit-text-stroke: 2px rgba(55, 154, 60, 1);
}


.history {
    display: grid;
    gap: 20px;
    padding: 25px;
    background-color: rgba(55, 154, 60, 1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-card {
    background-color: rgba(215, 235, 216, 1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-card h3 {
    margin: 0 0 10px;
    color: #006f3c;
}

.history-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-card ul li {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.main-grid-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.hist-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    margin-top: -70px;
}


.historico_alteracoes{
    color: #FFFFFF;
    font-family: Segoe UI;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}